:root {
    /* 🎨 Paleta principal */
    --fondo: #FFFFFF;
    --fondoSecundario: #eaeaf7;
    --texto: #333333;
    --encabezados: #2C3E50;
    --acento: #3BAE9A;
    --acentoHover: #318575;

    /* ⚙️ Extras */
    --blanco: #FFFFFF;
    --grisClaro: #F7F7F7;

    /* ✍️ Tipografía */
    --fuentePrincipal: "Montserrat", sans-serif;
    --fuenteTitulos: "Poppins", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--fondo);
    font-size: 1rem;
    line-height: 1.5;
    font-family: var(--fuentePrincipal);
    color: var(--texto);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}



.principal {
    display: flex;
    gap: 8rem;
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
    flex-direction: row;
}

h1, h2, h3 {
    text-align: left;
    color: var(--encabezados);
    font-family: var(--fuenteTitulos);
    margin-bottom: 2rem;
}

h1 {font-size: 4rem;}
h2 {font-size: 3.2rem;}
h3 {font-size: 2.4rem;}

p {
    font-size: 2rem;
    text-align: justify;
}

/* Navegación */
.nav {
    margin: 2rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    padding: 0 1rem;
    background-color: var(--fondoSecundario);
    border-radius: 5rem;
}

.nav__link {
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--encabezados);
    font-weight: 600;
}

.nav__link:hover {
    color: var(--acento);
}
.nav__logo {
    height: 15rem;
    margin-right: .5rem;
    border-radius: 50%;
}

/* Botones */
.boton {
    display: inline-block;
    background-color: var(--acento);
    color: var(--blanco);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: var(--acentoHover);
}

.img_ejemplo {
    background-color: var(--grisClaro);
    margin-top: 4rem;
    height: 80rem;
    width: auto;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--fondoSecundario);
    text-align: justify;
    padding: 0;
    margin-top: 0;
    width: 100%;
    height: 10%
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 1rem;
}